
form textarea{
  height: 105px;
  resize: none;
}

form input[type="radio"]{
  margin: 15px 0;
}

form input[type="radio"]:not(:first-child){
  margin-left: 15px;
}

.status span{
  padding-left: .3em;
  font-size: 1.3em;
}

@media screen and (max-width: 600px) {
  .status span{
    padding-left: .2em;
    font-size: 1.1em;
  }
}
